*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body{
  background-color: #1a1a1a;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}

h2{
  display: inline-block;
  margin: 5vh 4vh;
}

h2 a{
  color: #fff;
}



/* HEADER + SETTINGS */

.header{
  position: absolute;
  height: 5vh;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  padding: 1.5vh;
}

.setting-icon > svg{
  color: crimson;
  opacity: 0.6;
  filter: blur(0.75px);
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
  min-width: 0!important;
}

.setting-voice{
  font-size: 1em;
  letter-spacing: 0.1em;
  filter: blur(0.75px);
}

.setting-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4.2vh 0 2vh 0;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop{
  opacity: 0.88!important;
  background: rgb(0,0,0)!important;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(49,0,0,1) 100%)!important;
}

.setting-btn{
  background-color: crimson;
  padding: 0.75em 1.5em;
  font-weight: 500;
  display: block;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  filter: blur(0.75px);
}

.soundtrack a{
  color: #000000;
}

.btn-white, .btn-white a{
  color: #fff!important;
}


/* FINE HEADER + SETTINGS */


.app{
  height: calc(100vh - 10vh);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.footer{
  position: relative;
  z-index: 2;
  left: 0;
  bottom: 0;
  display: flex;
  /* justify-content: end; */
  /* background-color: pink; */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5vh;
}

.donate a{
  padding: 0.75vh 1.25vh;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  text-shadow: 0 0 0.5px rgba(220, 20, 60, 0.95);
}

.donate span{
  font-size: 1.35em;
}

.footer > div{
  margin-right: 1.75vh;
  filter: blur(0.35px);
}

.footer > div > h5, .donate a{
  color: crimson;
  /* color: #46BCDA; */
  /* filter: blur(0.35px); */
  text-shadow: 0 0 5px rgba(220, 20, 60, 0.95);
  /* text-shadow: 0 0 5px rgba(70, 188, 218, 0.95); */
}

.footer > div > h5 span{
  font-size: 1.9em;
}

.footer > div > h5{
  font-size: 0.55em;
  text-align: right;
  font-weight: 600;
  letter-spacing: 0.15vh;
  word-spacing: 0.6875vh;
  text-shadow: 0 0 1px rgba(220, 20, 60, 1);
  /* text-shadow: 0 0 1px rgba(70, 188, 218, 1); */
  opacity: 0.7;
}

.footer > div > h6{
  color: crimson;
  /* color: #46BCDA; */
  font-weight: 300;
  text-shadow: 0 0 1px rgba(220, 20, 60, 1);
  /* text-shadow: 0 0 1px rgba(70, 188, 218, 1); */
  font-size: 0.15em;
  word-spacing: 0.175vh;
  letter-spacing: 0.09vh;
  opacity: 0.7;
  margin-top: 0.8vh;
}

.unSelect{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.testo-generato{
  width: 120vh;
  padding: 1vh;
  text-align: start;
}

.mid-container{
  display: grid;
  grid-template: auto auto / repeat(1, 1fr);
  margin-top: 5vh;
}

.mid {
  border: 5px solid crimson;
  height: 72vh;
  width: 120vh;
  border-radius: 7.5px;
  background-color: darkgrey;
  box-sizing: content-box;
  position: relative;
  left: 0;
  top: 0;
  opacity: 0.835;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(220, 20, 60, 0.95);
}

.mid img {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 60vh;
}

.rettangolo{
  position: absolute;
  z-index: 3;
  left: 0;
  bottom: 0;
  height: 17vh;
  width: 100%;
  background-color: crimson;
  padding: 3vh 2.5vh;
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5vh;
}

.text-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  opacity: 0.835;
  filter: blur(0.75px);
}


.text-container p{
  color: #000000;
  font-size: 1.1em;
  margin-left: 15.5vh;
}

.character-image{
  position: absolute;
  z-index: 5;
  left: 2.5vh;
  top: 3vh;
  height: calc(100% - 5.5vh);
  width: 12.5vh;
  background-color: #000000;
  /* filter: blur(0.005px)!important; */
}

.character-image img{
  /* height: auto; */
  height: 100%;
  display: block;
  filter: none!important;
  opacity: 1!important;
}



/* CODICE FUNZIONANTE */
.simply-btn {
  animation: fadeIn 1s ease-in-out 1s forwards; 
  opacity: 0; 
}

@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}


/* @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */



/* .simply-btn {
  opacity: 0;
}

.simply-btn.animate {
  animation: fadeIn 1s ease-in-out 1s forwards;
} */




/* .simply-btn a{
  position: relative;
  font-size: 0.95em;
  font-weight: 500;
  padding: 0.75em 1.5em;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  filter: blur(0.75px);
  opacity: 0.835;
  color: #000000;
} */

.cube{
  height: 100px;
  width: 100px;
  background-color: aqua;
  opacity: 0;
  transition: opacity 0.82009s ease-in;
}

.cube.fadeIn {
  opacity: 1;
}



/* ======= FADEIN*/

h3.btn, .past, .sub-btn{
  /* h3.btn, .mid, .past{ */
  opacity: 0;
  transition: opacity 0.82009s ease-in;
}

h3.btn.fadeIn, .past.fadeIn, .sub-btn.fadeIn {
  /* h3.btn.fadeIn, .mid.fadeIn, .past.fadeIn { */
  opacity: 1;
}

/* ======= FINE FADEIN*/




/* ======= ANIMAZ. TESTO PROCEDURALE*/


.test, .end-page p{
font-family: 'Didact Gothic', sans-serif;
text-transform: uppercase;
filter: blur(0.75px);
text-transform: uppercase;
color: crimson;
}

.test{
  letter-spacing: 0.025em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  line-height: 4.2vh;
}

/* BTN CONTAINERS */
.btn-section, .go-section, .btn-container{
  width: 100%;
  height: 12vh;
}

.go-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* END BTN CONTAINERS */

.showMore{
  margin: 3.5vh 0;
  cursor: pointer;
  display: inline-block;
}

.showMore a, .showMore-start{
  background-color: crimson;
  color: #000000;
}

.showMore h5, .showMore a{
  font-size: 1em;
  filter: blur(0.7px);
}



/* ======= PAST */

.standard-h3{
  color: crimson;
  letter-spacing: 0.025em;
  font-size: 1.15em;
  font-weight: 500;
  /* margin-bottom: 1.6vh; */
  margin-bottom: 2.5%;
}

.standard-h4{
  color: crimson;
  letter-spacing: 0.03em;
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 4vh;
}

.past-container > h4{
  margin: 0 0 5.5vh 0;
}

.past-section{
  margin-bottom: 20vh;
  border: 2.5px solid crimson;
  filter: blur(0.75px);
  width: 120vh;
  height: 40vh;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4vh;
  gap: 4vh;
}

.past{
  height: 60vh;
  width: 50%;
  background-color: #1a1a1a;
  margin-top: 14vh;
  border: 2.5px solid crimson;
  border-radius: 15px;
  cursor: pointer;
  padding: 6vh 3vh;
  display: grid;
  grid-template: auto auto / repeat(1, 1fr);
  align-items: center;
}

.past:hover{
  border: 2.5px solid #46BCDA;
}

.selected {
  border: 2.5px solid #46BCDA;
}


h4{
  font-size: 1.1em;
  color: crimson;
  letter-spacing: 0.025em;
  font-weight: 500;
}



/* ======= BTN  */


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

h3.btn, .simply-btn, .donate, .showMore {
  position: relative;
  text-decoration: none;
}

h3.btn::before, .simply-btn::before, .donate::before, .showMore::before {
  filter: blur(0.1em);
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-left: 2px solid crimson;
  content: '';
}

h3.btn::after, .simply-btn::after, .donate::after, .showMore::after  {
  filter: blur(0.1em);
  height: 100%;
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  border-right: 2px solid crimson;
  content: '';
}

h3.btn a, .donate a, .showMore h5, .showMore a {
  position: relative;
  font-weight: 500;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

h3.btn a, .donate a{
  color: crimson;
}

h3.btn a{
  font-size: 2em;
  padding: 0.3em 0.6em;
  text-shadow: 0 0 10px rgba(220, 20, 60, 0.95);
}

.sub-btn{
  position: absolute;
  color: crimson;
  font-size: 1em;
  font-weight: 500;
  filter: blur(0.75px);
  margin-top: 46%;
  background-color: #1a1a1a;
  text-shadow: 0 0 2px rgba(220, 20, 60, 0.95);
}

.showMore h5, .showMore a{
  padding: 0.75em 1.5em;
}

h3.btn a{
  filter: blur(0.75px);
}

h3.btn a::before, .simply-btn a::before, .donate a::before, .showMore h5::before, .showMore a::before {
  filter: blur(0.05em);
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 2px solid crimson;
  content: '';
}

h3.btn a::after, .simply-btn a::after, .donate a::after, .showMore h5::after, .showMore a::after {
  filter: blur(0.05em);
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  border-top: 2px solid crimson;
  content: '';
}

h3.btn:hover::before {
  left: 100%;
  border-color: crimson;
  animation: tempBlurY 1s forwards ease-out;
}

h3.btn:hover::after {
  left: 0;
  border-color: crimson;
  animation: tempBlurY 1s forwards ease-out;
}

h3.btn:hover span {
  color: crimson;
  letter-spacing: 0.15em;
}

h3.btn:hover a::before {
  top: 100%;
  border-color: crimson;
  animation: tempBlurX 1s forwards ease-out;
}

h3.btn:hover a::after {
  top: 0;
  border-color: crimson;
  animation: tempBlurX 1s forwards ease-out;
}

@keyframes tempBlurX {
  0% { filter: blur(0.05em); }
  50% { filter: blur(10px); }
  80% { filter: blur(3px); } 
  100% { filter: blur(0.05em); }
}

@keyframes tempBlurY {
  0% { filter: blur(0.1em); }
  50% { filter: blur(10px); }
  80% { filter: blur(3px); } 
  100% { filter: blur(0.1em); }
}

.end-page{
  text-align: center;
}

.end-page > p{
  color: crimson;
  margin: 2vh 0;
  font-size: 0.75em;
  letter-spacing: 0.75vh;
  word-spacing: 1vh;
}


/* COUNTDOWN */
.countdown-section{
  text-align: center;
}

.countdown-title, .countdown, .hide h4{
  color: crimson;
  filter: blur(0.75px);
  font-weight: 100;
}

.countdown-title{
  font-size: 1em;
  opacity: 0.835;
  letter-spacing: 1vh;
  word-spacing: 1.25vh;
}

.countdown{
  margin-top: 5vh;
  font-size: 2em;
  opacity: 0.6;
  letter-spacing: 3vh;
  word-spacing: 2.5vh;
}

/* HIDE */
.hide{
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  padding: 0 10vh;
}

.hide h4{
  text-align: center;
  line-height: 4.1vh;
  font-size: 0.9em;
  opacity: 0.835;
  letter-spacing: 0.9vh;
  word-spacing: 1.22vh;
}

@media only screen and (max-width: 1200px){
  .hide{
    display: flex;
  }

  .app {
    display: none;
  }
}


@media only screen and (max-width: 480px){

  .hide{
    padding: 0 6.5vh;
  }

  .hide h4{
    line-height: 3vh;
    font-size: 0.6em;
    opacity: 0.95;
    letter-spacing: 0.6vh;
    word-spacing: 0.75vh;
  }

}

.cover > h5{
  margin-bottom: 5vh;
  opacity: 0.835;
  font-size: 0.8em;
  letter-spacing: 0.75vh;
  word-spacing: 0.93vh;
  filter: blur(0.5px);
  color: #fff;
}

.cover > .setting-btn{
  background-color: crimson;
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.cover > .setting-btn a{
  color: #000000;
}


/* NEW BTN */

.btn-standard {
  margin-top: 0.75vh;
  /* width: 160px;
  height: 40px;  */
  padding: 22px 90px;
  border: 0;
  outline: none;
  background-color: #46BCDA;
  cursor: pointer;
  position: relative;
  font-family: Tomorrow, sans-serif;
  font-size: .85rem;
  text-transform: uppercase;
  color: #46BCDA;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  z-index: 3;
  border-radius: 0!important;
  /* animation: fadeIn 0.75s ease-in-out 0.25s forwards;  */
  /* opacity: 0;  */
  opacity: 1;
}

.btn__content {
  color: #46BCDA;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: #1a1a1a;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  z-index: 4;
}

.btn--secondary {
  background-color: #fafafa;
}

.btn--secondary .btn__content {
  background-color: #ff003c;
  color: #fafafa;
}

.btn__label {
  height: 10px;
  font-size: .40rem;
  position: absolute;
  bottom: -4.2px;
  right: 8%;
  padding: 0 5px;
  background-color: #1a1a1a;
  z-index: 5;
}

.dark-standard{
  padding: 16px 55px;
  margin-right: 3vh;
  margin-top: 0;
  background-color: #000000;
  color: #fff;
}

.dark-standard > a{
  color: #fff;
  opacity: 0.835;
  filter: blur(0.45px);
  letter-spacing: 0.1em;
}

.dark-standard > span{
  opacity: 0.835;
  filter: blur(0.25px);
}

.red-standard{
  padding: 16px 70px;
  background-color: crimson;
}

.red-standard > h5, .red-standard > span{
  color: crimson;
}

.red-special{
  padding: 16px 55px;
  background-color: crimson;
}

.red-special > .btn__content, .red-special > span{
  background-color: crimson;
}

.red-special > .btn__content, .red-special > span, .red-special > a{
  color: #1a1a1a;
}

/* 
  @keyframes fadeIn {
    from {
      opacity: 0; 
    }
    to {
      opacity: 1; 
    }
  } */